body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
.gradient-background {
    height: 100%;
    background: url('../img/softserve.png');
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#response-container {
    padding: 20px;
    background-color: #4e8af9; /* Колір фону для контейнера з відповіддю */
    border-radius: 10px;
    color: white;
}

.mb-5 {
    margin-bottom: 3rem !important;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, 
                background-color .15s ease-in-out, 
                border-color .15s ease-in-out, 
                box-shadow .15s ease-in-out;
}

a {
    color: #0d6efd;
    text-decoration: underline;
}